/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a40035;
  width: 100%;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
} */

@font-face {
  font-family: "Amboy";
  src: url("../fonts/Parkinson\ -\ Amboy-Black.otf");
}

@font-face {
  font-family: "OctoberDevanagari";
  src: url("../fonts/OctoberDevanagari.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.main-bg-vector {
  background: url("./assets/wavefull.png");
  background-size: cover;
  background-position: 31% 12%;
}

.main-bg {
  background: linear-gradient(
    345deg,
    rgba(111, 0, 53, 1) 4%,
    rgba(57, 0, 53, 1) 34%,
    rgba(64, 0, 64, 1) 58%,
    rgba(111, 0, 53, 1) 96%
  );
}

.bg-vector {
  width: 100%;
  z-index: -1;
}

.main-top {
  height: 100vh;
  /* background-color: #700035; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(
    345deg,
    rgba(57, 0, 53, 1) 0%,
    rgba(57, 0, 53, 1) 6%,
    rgba(64, 0, 64, 1) 30%,
    rgba(111, 0, 53, 1) 71%
  ); */
}

/* .main-bg-top-grad {
  z-index: 0;
  width: 150vw;
  height: 100vh;
  background: linear-gradient(
    329deg,
    rgba(57, 0, 53, 1) 0%,
    rgba(57, 0, 53, 1) 6%,
    rgba(64, 0, 64, 1) 30%,
    rgba(111, 0, 53, 1) 95%
  );
  mix-blend-mode: darken;
  transform: rotate(-21.32deg) translate(20vh, 0);
} */

.main-head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-head-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-head-img img {
  width: 200px;
}

.main-head-text h1 {
  font-family: Amboy;
  letter-spacing: 0.4rem;
  font-size: 10rem;
  color: #ffd1a8;
}

.main-head-text h3 {
  font-size: 1.9rem;
  color: #ffd1a8;
  font-weight: 400;
  margin-top: 10px;
}

.main-mid {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 3vw;
}

.main-mid-text {
  width: 50vw;
}

.main-mid-text-head h2 {
  font-size: 3.3rem;
  color: #ffd1a8;
  font-family: "OctoberDevanagari";
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.main-mid-text-desc p {
  font-size: 2rem;
  color: #ffd1a8;
  font-family: "OctoberDevanagari";
  margin-top: 45px;
}

.main-mid-carousel img {
  width: 30vw;
  margin-left: 8vw;
}

.main-ovr{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
    align-items: center;
}

.main-ovr-head p{
  background-color: #700035;
  color: #ffd1a8;
  padding: 4vh 3vw;
  font-size: 2.6rem;
  border-radius: 2rem;
}

.main-ovr-subhead {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.main-ovr-subhead1 p{
  background-color: #700035;
  color: #ffd1a8;
  padding: 3vh 2vw;
  font-size: 2.3rem;
  border-radius: 2rem;
}

.main-ovr-stat {
  height: 40vh;
  background-color: #ffd1a8;
  margin-top: 3vw;
  width: 50vw;
  border-radius: 2rem;
  text-align: center;
}


.main-pic {
  width: 100vw;
  height: 100vh;
  background: #ffd1a8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  align-items: center;
  margin-top: 4vw;
}

.footer-img img {
  width: 150px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15vw;
  width: 100%;
  margin-top: 10vh;
}

.footer-links-contact {
  display: flex;
  flex-direction: column;
}

.footer-links-location {
  display: flex;
  flex-direction: column;
}

.footer-links h3 {
  color: #390035;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3vh;
}

.footer-links p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #a11a2b;
}
.footer-links a {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #a11a2b;
}


.footer-links-follow-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ion-icon {
  color: #a11a2b;
  font-size: 2rem;
}






.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 70vh;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #700035;
}
.swiper-pagination-bullet {
  background-color: #a11a2b;
  width: 1.5rem;
  height: 1.5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navbar-circles {
  border-radius: 50%;
  background: #700035;
  width: 50px;
  height: 50px;
}











